# Private certificates / keys
*.p12
*.pfx
*.key
*.pem

# Database
*.db

# Logs
*.log

# Temporary files
temp/

# PKI private material
pki/private/

# Local CA database/state
pki/root-ca-db/
pki/intermediate-ca-db/
pki/index.txt
pki/index.txt.attr
pki/serial
pki/crlnumber