[ req ]
distinguished_name = dn
x509_extensions = v3_ca
prompt = no

[ dn ]
C = IN
ST = Karnataka
L = Bengaluru
O = Cert Based Auth Lab
OU = Phase 1
CN = Cert Based Auth Root CA

[ v3_ca ]
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
